/*********** FONT ************/
@font-face {
  font-family: "Circular";
  src: url(./Circular/CircularStd-Light.otf);
}
/*********** END FONT ************/

/*********** GENERAL STYLES ************/
:root {
  --purple: #ff385c;
  --almost-black: #222222;
  --grey: #717171;
  --light-grey: #dddddd;
  --very-light-grey: #71717113;
  --white: #fff;
}

body {
  font-family: "Circular";
}

a {
  text-decoration: none !important;
}

.btn:focus {
  outline: none !important;
  box-shadow: none;
}

/*********** END GENERAL STYLES ************/

/*********** NAVBAR ************/
nav {
  height: 80px;
  border-bottom: 1px solid var(--light-grey);
  background-color: var(--white);
}

form {
  border: 1px solid var(--light-grey);
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
  transition: box-shadow 0.2s ease;
  -webkit-transition: box-shadow 0.2s ease;
}

.navlinks {
  font-size: 0.9em;
  cursor: pointer;
}

.link-1,
.link-2 {
  color: var(--almost-black) !important;
  border-right: 1.5px solid var(--light-grey);
  font-weight: 600;
}

.link-3,
.link-5 {
  color: var(--grey) !important;
  font-weight: 400;
}

.link-4 {
  font-weight: 600;
}

.link-5 {
  font-size: 0.8em;
  color: var(--grey) !important;
  font-weight: 400;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 55vw;
}

.btn-search {
  height: 32px;
  width: 32px;
  background-color: var(--purple);
}

.fa-magnifying-glass {
  color: var(--white);
  font-size: 13px;
}

.host {
  font-weight: 600;
  font-size: 0.9em;
  color: var(--almost-black) !important;
}

.fa-globe {
  color: var(--almost-black) !important;
}

.profile {
  border: 1px solid var(--light-grey);
  transition: box-shadow 0.2s ease;
  -webkit-transition: box-shadow 0.2s ease;
}

.fa-circle-user {
  font-size: 30px;
  color: var(--grey);
}

.circle {
  height: 14px;
  min-width: 14px;
  border: 2px solid var(--white) !important;
  background-color: var(--purple) !important;
}

.translate-middle {
  transform: translate(150%, -100%) !important;
}

/*********** NAVBAR HOVER ************/
form:hover {
  box-shadow: rgb(0 0 0 / 8%) 0px 3px 6px, rgb(0 0 0 / 5%) 0px 3px 6px;
}

.profile:hover {
  box-shadow: rgb(0 0 0 / 8%) 0px 3px 6px, rgb(0 0 0 / 5%) 0px 3px 6px;
}

.host:hover {
  background-color: var(--very-light-grey);
}

.fa-globe:hover {
  background-color: var(--very-light-grey);
}
/*********** END NAVBAR HOVER ************/
/*********** END NAVBAR ************/

/*********** ICONS BAR ************/
.icons-container {
  height: 78px;
  overflow-x: auto;
  white-space: nowrap;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.icons-container::-webkit-scrollbar {
  display: none;
}

.icons-container > span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--white);
}

.icons-container > span i {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-size: 24px;
  color: var(--grey);
  transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
}

.icons-container > span > span {
  font-weight: 600;
  font-size: 0.9em;
  letter-spacing: 0.5px;
  color: var(--grey);
  transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
}

.left,
.right {
  position: relative;
  width: 28px;
  height: 28px;
  background-color: white !important;
  border: 0.5px solid rgb(0 0 0 / 0.3) !important;
}

.left::after,
.right::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  box-shadow: 0 0 5px 20px rgb(255 255 255);
  border: 0.5px solid rgb(0 0 0 / 0.3) !important;
}

.filter {
  border: 0.5px solid var(--light-grey) !important;
  border-radius: 15px;
  cursor: pointer;
}

.filter span {
  font-weight: 600;
  font-size: 0.8em;
}

/*********** ICONS BAR HOVER ************/
.left:hover:after,
.right:hover:after {
  box-shadow: rgb(0 0 0 / 8%) 0px 3px 6px, rgb(0 0 0 / 5%) 0px 3px 6px,
    0 0 5px 20px rgb(255 255 255);
}

.icons-container > span:hover i,
.icons-container > span:hover span {
  color: var(--almost-black);
}

.icons-container > span:hover {
  border-bottom: 2px solid var(--almost-black);
}
/*********** END ICONS BAR HOVER ************/
/*********** END ICONS BAR ************/

/*********** LISTINGS ************/
.row {
  margin-bottom: 65px;
}

.card {
  border: none;
}

.frame {
  aspect-ratio: 1.1 / 1;
  border-radius: 15px;
  object-fit: cover;
  vertical-align: bottom;
  overflow: hidden;
}

.frame-img {
  aspect-ratio: 1.1 / 1;
  object-fit: cover;
  vertical-align: bottom;
  overflow: hidden;
}

.carousel-indicators li {
  border-radius: 50%;
  width: 6px;
  height: 6px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}

.carousel .carousel-control-next-icon,
.carousel .carousel-control-prev-icon {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.carousel-left,
.carousel-right {
  width: 24px;
  height: 24px;
  border-radius: 50px;
  outline: none !important;
  box-shadow: none;
}

.card-title {
  color: var(--almost-black);
  font-weight: 600;
  font-size: 1em;
  line-height: 20px;
}

.card-text > span {
  color: var(--grey);
}

.price {
  font-weight: 600;
}

.fa-star {
  font-size: 12px;
}

.heart {
  top: 5px;
  right: 5px;
}

.fa-heart {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.51);
}

.hear-outline {
  font-size: 22px;
  color: white;
}

/*********** LISTINGS HOVER STATES ************/
.carousel:hover .carousel-control-next-icon,
.carousel:hover .carousel-control-prev-icon {
  opacity: 1;
}
/*********** END LISTINGS HOVER STATES ************/
/*********** END LISTINGS ************/

/*********** FOOTER ************/
.footer-left {
  font-size: 0.9em;
}

.footer-right {
  font-weight: 600;
  font-size: 0.9em;
}

.map {
  left: 45%;
  bottom: 80px;
  background-color: var(--almost-black);
  padding: 14px 19px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.map span {
  color: var(--white);
  font-size: 0.9em;
  font-weight: 600;
}
/*********** FOOTER HOVER STATES ************/
.f-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.map:hover {
  transform: scale(1.05);
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
}
/*********** END FOOTER HOVER STATES************/
/*********** END FOOTER ************/

/*********** MEDIA QUERIES ************/
@media (max-width: 767px) {
  nav {
    border-bottom: none;
    margin-top: 10px;
  }

  form {
    width: 100%;
    justify-content: space-between;
  }

  .general-icons-container {
    padding-top: 0 !important;
    border-bottom: 1px solid var(--light-grey);
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
  }
}

@media (min-width: 767px) {
  header.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--white);
    border: 1px solid var(--light-grey);
    z-index: 999;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
    transition: all 1s ease;
  }

  header.sticky .general-icons-container {
    padding-top: 5px !important;
    transition: all 1s ease;
  }

  header.sticky .icons-container {
    height: 70px;
    transition: all 1s ease;
  }
}
/*********** END MEDIA QUERIES ************/
